*{
 box-sizing: border-box;
 margin: 0px;
}
body{
 
 background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/01/14/29417/dde1749f4f17a3053898f6ec7dbecce3-700.jpg");
 background-color: #e2e0e0;
}
.header__banner{
 width: 100%;
    text-align: center;
    background-color: #d85b01;
    padding: 27px 0px;
    margin-bottom: 30px;
}

.container{
 width:70%;
 margin: 0px auto;
}
.alert{
 /* display: none; */
}

.alert_error{
 background-color: crimson;
 border: 1px solid crimson;
}

.superhero__list{
 display: grid;
 gap: 20px;
 grid-template-columns: 1fr 1fr 1fr;
}

.grid__button{
 display: grid;
 gap: 20px;
 grid-template-columns: 1fr 1fr;
}

.grid__item{
 width: 100%;
 background: #fff;
 border-radius: .1875rem;
 padding: 1.25rem;
 border: 0;
}

.grid__item__show,.grid__item__del{
 padding: 8px;
 margin-right:10px;
 border-radius: 5px;
}
.grid__item__show{
 background-color: cadetblue;
 border: none;
 border-bottom: rgb(55, 89, 90) 1px solid;
 border-right: rgb(55, 89, 90) 1px solid;
}
.grid__item__del{
 background-color: red;
 border: none;
 color: white;
 border-bottom: 1px solid #ba0000;
 border-right: 1px solid #ba0000;
}

.grid__item__del:hover{
 opacity: 0.8;
}

.grid__item__show:hover{
 opacity: 0.8;
}
/* Modal window */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}